/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 60%;
}

/* DEBUG */
/* .dashed-lines {
    border: 2px dashed black;
} */

/* HEADER */
header {
    height: 100px;
    background-color: #255ee9 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar {
    display: flex;
    width: 80%;
}

.navigation-bar > div {
    padding: 5px;
}

.logo {
    width: 25%;
    height: 40px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-links ul li {
    display: inline-block;
    margin-right: 1rem;
}

.header-links ul li a {
    text-decoration: none;
    color: white;
}

.login {
    width: 25%;
    text-align: center;
}

.login a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.login a:hover {
    background-color: lightgrey;
    color: white;
}

.header-links {
    width: 50%;
    text-align: center;
}

.login {
    text-align: right;
}

/* MAIN */
/* LANDING */
.landing {
    background-color: #255ee9;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-menu {
    height: 70%;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-menu > h1 {
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 45px;
}

.landing-menu > p {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
}

.buttons a {
    margin: 0 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    margin-top: 1rem;
}

.button-white, .button-black, .button-blue {
    display: inline-block;
    padding: 0 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.button-white {
    background-color: white;
    color: black;
}

.button-black {
    background-color: black;
    color: white;
}

.button-blue {
    background-color: #7289da;
    color: white;
}

/* PAGES */
.page {
    height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-grey {
    background-color: #f6f6f6;
}

.artwork {
    /* background-color: #1e90ff; */
    height: 80%;
    width: 60%;
}

.artwork .image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-text img {
    max-width: 100%;
    max-height: 100%;
}

.image-text h2, .image-text p {
    text-align: left;
    padding: 15px;
}

.image-text h2 {
    font-size: 2.81rem;
}

.image-text p {
    font-size: 1.25rem;
}

.infotext {
    height: 80%;
    width: 40%;
    /* background-color: lightpink; */
}

.reverse {
    flex-direction: row-reverse;
}

/* COPY */
.bigpage {
    height: 65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.tecnology img {
    max-width: 100%;
    max-height: 100%;
}

.tecnology h2, .tecnology p {
    text-align: center;
    padding: 15px;
}

.tecnology h2 {
    font-size: 2.81rem;
}

.tecnology p {
    font-size: 1.25rem;
}

.tecnology > h3 {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.5rem;
    height: 3rem;
}

.copy {
    height: 85%;
    width: 90%;
    /* background-color: green; */
}

/* FOOTER */
.footer {
    background-color: #23272a;
    height: 550px;
}

/* FOOTER_1 */
.footer_1 {
    height: 87%;
    display: flex;
    justify-content: center;
}

.about {
    /* background-color: lightseagreen; */
    height: 400px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 50px;
    display: flex;
}

.social {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 100%;
    /* background-color: #f08080; */
    flex-wrap: wrap;
    flex-direction: column;
}

.social img {
    height: 15px;
    width: 20px;
    margin-top: 1.5rem;
}

.social span {
    font-size: 1rem;
    color: white;
}

.social h2 {
    font-size: 1.75rem;
    color: #7289da;
}

.fa-brands {
    margin-top: 15px;
    margin-right: 15px;
}

.faq {
    width: 70%;
    display: flex;
    margin-left: 5rem;
}

.links {
    width: 30%;
    text-align: left;
    margin-right: 5rem;
}

.links > li {
    padding-bottom: 1rem;
}

.links .categories {
    font-size: 1rem;
    color: white;
}

.links .title {
    color: #7289da;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.faq .links {
    border: 1px dashed white;
}

/* Secondo footer */
.footer-2 {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.signup {
    background-color: aquamarine;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup > div {
    background-color: lightpink;
    width: 10%;
    text-align: center;
    padding: 5px;
}