/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 60%;
}

/* COMMON */
.dashed-lines {
    border: 2px dashed black;
}

/* HEADER */
header {
    height: 100px;
    background-color: #255ee9 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar {
    display: flex;
    width: 80%;
}

.navigation-bar > div {
    padding: 5px;
}

.logo {
    width: 25%;
    height: 40px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-links ul li {
    display: inline-block;
    margin-right: 10px;
}

.header-links ul li a {
    text-decoration: none;
    color: white;
}

.login {
    width: 25%;
    text-align: center;
}

.login a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.login a:hover {
    background-color: lightgrey;
    color: white;
}

.header-links {
    width: 50%;
    text-align: center;
}

.login {
    text-align: right;
}

/* MAIN */
/* LANDING */
.landing {
    background-color: #255ee9;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-menu {
    height: 70%;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-menu > h1 {
    color: white;
    margin-bottom: 30px;
    font-size: 45px;
}

.landing-menu > p {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.buttons a {
    margin: 0 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
}

.button-white, .button-black {
    display: inline-block;
    padding: 0 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.button-white {
    background-color: white;
    color: black;
}

.button-black {
    background-color: black;
    color: white;
}

/* PAGES */
.page {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-grey {
    background-color: #f6f6f6;
}

.artwork {
    background-color: #1e90ff;
    height: 80%;
    width: 60%;
}

.artwork .chat-organization {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Altezza massima della finestra di visualizzazione */
}

.chat-organization img {
    max-width: 100%;
    max-height: 100%;
}

.chat-organization h2, .chat-organization p {
    text-align: left;
    padding: 15px;
}

.chat-organization h2 {
    font-size: 45px;
}

.chat-organization p {
    font-size: 20px;
}


.infotext {
    height: 80%;
    width: 40%;
    background-color: lightpink;
}

.reverse {
    flex-direction: row-reverse;
}

/* COPY */
.bigpage {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy {
    height: 85%;
    background-color: green;
}

/* FOOTER */
.footer {
    background-color: #23272a;
    height: 550px;
}

/* FOOTER_1 */
.footer_1 {
    height: 80%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
}

.about {
    background-color: lightseagreen;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
}

.social {
    width: 30%;
    height: 100%;
    background-color: #f08080;
}

.faq {
    width: 70%;
    display: flex;
}

.links {
    width: calc(100% / 4);
}

.faq .links {
    border: 1px dashed white;
}

/* Secondo footer */
.footer-2 {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 2px solid white;
}

.signup {
    background-color: aquamarine;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup > div {
    background-color: lightpink;
    width: 10%;
    text-align: center;
    padding: 5px;
}